$maroon: #7a1d28;
$lightbrown: #ebe2d4;
$white: #ffffff;
$darkgrey: #555555;

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pos-rel {
  position: relative;
}
