$maroon: #7a1d28;
$lightbrown: #ebe2d4;
$white: #ffffff;
$darkgrey: #555555;

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pos-rel {
  position: relative;
}
.ribbon {
  padding: 2rem;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    content: "From the Desks";
    position: absolute;
    color: $white;
    padding: 0.5rem;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 475px) {
  .ribbon {
    img {
      max-width: 250px;
    }
    &::after {
      font-size: 1.1rem;
      padding: 0.2rem;
    }
  }
}
