@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");
.pos-rel {
  position: relative;
}

.ribbon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.ribbon::after {
  content: "From the Desks";
  position: absolute;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .ribbon img {
    max-width: 250px;
  }
  .ribbon::after {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
}

body {
  background: #ebe2d4;
  font-family: "Source Serif Pro", serif;
}

.side-col {
  text-align: center;
  padding: 0;
}

.side-col h1 {
  background: #ddc8a7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-col span {
  display: block;
  padding: 0 0.2rem;
  font-size: calc(100vh / 10);
  color: #ffffff;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .a-center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentor-text {
  font-size: 1.2rem;
  text-align: justify;
}

.mentor-img {
  max-height: 40vh;
  border: 10px solid #ffffff;
}

.img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-wrap span {
  color: #7a1d28;
  font-style: italic;
  font-size: 1.5rem;
  padding: 1rem;
}

@media only screen and (min-width: 576px) {
  .side-col h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h-100 {
    height: 100vh !important;
    overflow: hidden;
  }
  .sm-h1 {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .side-col span {
    display: inline;
    padding: 0 0.5rem;
    font-size: 3rem;
  }
  .sm-h1 h1 {
    padding: 1rem 0;
    font-weight: 900;
  }
  .mentor-text {
    padding: 1rem;
  }
  .lg-h1 {
    display: none;
  }
  .row {
    --bs-gutter-x: 0;
  }
  .container-fluid {
    padding: 0;
  }
}
/*# sourceMappingURL=fromDesks.css.map */