@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,900&display=swap");
.pos-rel,
.time-section {
  position: relative;
}

.ribbon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ribbon::after {
  content: "From the Desks";
  position: absolute;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .ribbon img {
    max-width: 250px;
  }
  .ribbon::after {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
}

.pos-rel,
.time-section {
  position: relative;
}

.ribbon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ribbon::after {
  content: "From the Desks";
  position: absolute;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .ribbon img {
    max-width: 250px;
  }
  .ribbon::after {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
}

body {
  background-color: #ebe2d4;
  /*background-image: url("../img/temp_bg.png");*/
  background-size: cover;
  background-attachment: fixed;
}

.ribbon::after {
  content: "Alumni Speaks";
}

.bg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-pull-right {
  float: right;
  background: #7a1d28;
}

.alumni-text {
  text-align: justify;
}

.msg-box {
  border: 12px dashed #555555;
  position: relative;
  -o-border-image: url("../img/border_bg.png") 30 round;
  border-image: url("../img/border_bg.png") 30 round;
  padding: 1rem;
  background: #dfc49c;
}

.line {
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #555555;
  left: 0;
}

.header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
}

.header-img img {
  height: 100px;
}

.profile-pic {
  max-height: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .line::before {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .profile-pic {
    width: 110px;
    border-radius: 50%;
  }
}

.pos-rel,
.time-section {
  position: relative;
}

.ribbon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ribbon::after {
  content: "From the Desks";
  position: absolute;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .ribbon img {
    max-width: 250px;
  }
  .ribbon::after {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
}

body {
  background: #ebe2d4;
}

.ribbon::after {
  content: "Events";
}

.flip-card {
  width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: 1rem 0;
}

.polaroid-card {
  text-align: center;
}

.polaroid-card .polaroid-img {
  background: #949494;
  aspect-ratio: 1;
}

.polaroid-card .title {
  padding: 1rem 0;
  font-family: "Source Serif Pro", serif;
}

.card {
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card .subtitle {
  color: #7a1d28;
  font-size: 0.8rem;
  cursor: pointer;
}

.polaroid-card-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.polaroid-card-back p {
  text-align: justify;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media only screen and (min-width: 1024px) {
  .flip-card {
    width: 350px;
    height: 450px;
  }
}

.pos-rel,
.time-section {
  position: relative;
}

.ribbon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ribbon::after {
  content: "From the Desks";
  position: absolute;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .ribbon img {
    max-width: 250px;
  }
  .ribbon::after {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
}

body {
  background: #ebe2d4;
  font-family: "Source Serif Pro", serif;
}

.side-col {
  text-align: center;
  padding: 0;
}

.side-col h1 {
  background: #ddc8a7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.side-col span {
  display: block;
  padding: 0 0.2rem;
  font-size: calc(100vh / 10);
  color: #ffffff;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrap .a-center {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mentor-text {
  font-size: 1.2rem;
  text-align: justify;
}

.mentor-img {
  max-height: 40vh;
  border: 10px solid #ffffff;
}

.img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.img-wrap span {
  color: #7a1d28;
  font-style: italic;
  font-size: 1.5rem;
  padding: 1rem;
}

@media only screen and (min-width: 576px) {
  .side-col h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .h-100 {
    height: 100vh !important;
    overflow: hidden;
  }
  .sm-h1 {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .side-col span {
    display: inline;
    padding: 0 0.5rem;
    font-size: 3rem;
  }
  .sm-h1 h1 {
    padding: 1rem 0;
    font-weight: 900;
  }
  .mentor-text {
    padding: 1rem;
  }
  .lg-h1 {
    display: none;
  }
  .row {
    --bs-gutter-x: 0;
  }
  .container-fluid {
    padding: 0;
  }
}

.pos-rel,
.time-section {
  position: relative;
}

.ribbon {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ribbon::after {
  content: "From the Desks";
  position: absolute;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

@media only screen and (min-width: 475px) {
  .ribbon img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 475px) {
  .ribbon img {
    max-width: 250px;
  }
  .ribbon::after {
    font-size: 1.1rem;
    padding: 0.2rem;
  }
}

body {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  background: #f2eadf;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*---- TOP TIMELINE NAVBAR  ----*/
.sticky-wrap {
  position: fixed;
  width: 100%;
  background: #000;
  top: 0;
  z-index: 9999;
}

.timeline {
  display: block;
  height: 96px;
}

.scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /*width: 100%;*/
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-bottom: 5px;
  margin-left: 0;
}

.item {
  text-decoration: none;
  position: relative;
  text-align: center;
  padding: 20px 40px;
}

.item::before {
  content: "";
  height: 2px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  margin-left: -50%;
  top: 90%;
  z-index: 2;
}

.item:nth-child(2)::before {
  width: 50%;
  margin-left: 0;
}

.item:hover .year {
  color: #ffffff;
}

.year {
  color: #8d8d8d;
}

.link {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  margin-left: 10px;
  top: 85%;
}

.active .link::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  top: -3px;
  left: calc(-50% + 2px);
}

.active .year {
  color: #fff;
}

.marker {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  top: 53%;
  left: 49px;
  display: none;
}

/*-----------------------------------------
YEAR SECTIONS
-----------------------------------------*/
.year-title {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 8rem;
  color: #7a1d28;
  font-weight: bolder;
  padding: 1rem;
}

.year-title img {
  max-height: 80%;
}

.time-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 80vh;
  overflow: hidden;
  padding: 96px 0 96px 0;
}

.time-section:nth-child(1) {
  margin-top: 96px;
}

.time-section::before {
  content: "";
  width: 1px;
  height: 100%;
  background: #7a1d28;
  position: absolute;
}

.circle-marker {
  content: "";
  width: 20px;
  height: 20px;
  background: #7a1d28;
  position: absolute;
  border-radius: 50%;
}

.circle-marker::before,
.circle-marker::after {
  content: "";
  position: absolute;
  border: 1px solid #7a1d28;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-animation: blink 1.4s linear infinite;
  animation: blink 1.4s linear infinite;
}

.circle-marker::after {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.year-span {
  color: #7a1d28;
  font-weight: bolder;
  padding: 0.8rem 0;
  font-size: 1.3rem;
}

.year-section-header {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 1rem;
  word-spacing: 100vw;
}

.year-section-header::after {
  content: "";
  height: 4px;
  width: 15%;
  background: #7a1d28;
  position: absolute;
  bottom: 0;
  left: 0;
}

.year-section-info {
  font-size: 1rem;
  padding: 1rem 0;
  text-align: justify;
}

.info-wrap {
  padding: 0rem 1.5rem;
}

/*----------Media QUERIES------------*/
@media only screen and (max-width: 767px) {
  .timeline-wrap {
    position: relative;
  }
  /*.time-section {
    display: flex;
    width: 100vw !important;
    z-index: -1;
  }*/
  .time-section::before {
    left: 5%;
  }
  .circle-marker {
    left: calc(5% - 10px);
  }
  .info-wrap {
    padding: 0rem 4rem !important;
  }
  .year-section-header {
    font-size: 2rem;
  }
  .year-section-info {
    font-size: 0.8rem;
  }
  .year-title {
    font-size: 5rem;
  }
  .container {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .year-title img {
    max-height: 100%;
  }
}

/*-------KEY FRAMES ---*/
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}
/*# sourceMappingURL=master_theme1.css.map */
